<!--beans are the objects managed by the spring framework-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--spring will create the object by default for all beans with
    singleton scope(default), but not prototype scope-->
<!--    <bean id="alien1" class="org.example.Alien" scope="prototype">-->
    <bean id="alien1" class="org.example.Alien">
<!--    Value is used for primitive variable but for reference we need ref keyword
        and id of the bean already created   -->
        <property name="age" value="21"></property>
        <property name="lap" ref="lap1"></property>
    </bean>


    <bean id="lap1" class="org.example.Laptop">
    </bean>
    <bean id="lap2" class="org.example.Laptop">
    </bean>

</beans>